<style>

.kontener {
  position: relative;
}
.runningtext {
  height:3em;
  width:100%;
  background: rgba(0,0,0,0.6);
  color:white;
  position: absolute;
  bottom:0px;
  overflow:hidden;
}
.textrunningtext {
  font-size:2em;
  padding-left:10px;
  float: left;
}
.kontenerrunningtext {
  width:300vw;
}

.kontenervideo2{
  //<!--background-image: url('');-->
  background-size:contain;background-repeat: no-repeat;background-position:center;
  height:33.75vw;width:60vw;
  border:none;
  background-color: black;
  margin: 0px;
}
.kontenervideo2 img{
  height:33.75vw;width:60vw;
}
.kontenervideo2 video{
  height:33.75vw;width:60vw;
}
.emphasize-dark {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
  background: linear-gradient(to right, #000000, #111111, #000000), linear-gradient(to right, #8f6B29, #FDE08D, #DF9F28);
  opacity: 0.9;
  border: double 0px;
  //border-style: solid;
  //border-image: linear-gradient(to right, #8f6B29, #FDE08D, #DF9F28) 1 stretch;
  background-origin: border-box;
  background-clip: content-box, border-box;
  //width:100%;margin:auto;margin-bottom:1.5vw;padding:0.4em;overflow:hidden;
  border-radius:50px;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 80%;
  color: white;
} 
.baris {
  width:100%;
}
.kol-kiri {
  height: 100vh;
  width: 40vw;
  margin: 0px;
  padding: 1em;
  background-color: blue;
}
.kol-kanan {
  height: 100vh;
  //width: 60vw;
  margin: 0px;
  padding: 1em;
  padding-left: 0px;
  background-color: yellow;
}
.kiri {
  height:100vh;
  background-color: blue;
}
.kanan {
  height:100vh;
  background-color: yellow;
  padding: 10px;
  padding-left: 0px;
}
.lokets {
  height:20.5vh;
  margin:0px;
  margin-bottom:1vw;
  background-color: blue;
  margin-left:1vw !important;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.emphasize-dark {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
  //background: linear-gradient(to right, #000000, #111111, #000000), linear-gradient(to right, #8f6B29, #FDE08D, #DF9F28);
  opacity: 0.9;
  border: double 0px;
  //border-style: solid;
  //border-image: linear-gradient(to right, #8f6B29, #FDE08D, #DF9F28) 1 stretch;
  background-origin: border-box;
  background-clip: content-box, border-box;
  //width:100%;margin:auto;margin-bottom:1.5vw;padding:0.4em;overflow:hidden;
  border-radius:20px;
}
.kotakloket {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
  border-radius: 15px;
  height: 14.7vh;
  width: 14.7vh;
  //background: linear-gradient(to right, #8f6B29, #FDE08D);
  padding: 5px;
}
.tulisanloket {

  height: 25%;
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  color: #111111;
  font-size: 2.9vh;
}
.angkaloket {

  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  color: #111111;
  margin:auto;
  font-size: 10.9vh;

  line-height: 1em;
}
.nomorantrian {
  font-size: 13.8vh;
  //color: #e9c26b;

  margin:auto;
}
.scrollingtext {
  width:60vw;height:4.7em !important;
  background-color:#111111;margin-right:1vw;
  position:absolute;bottom:1.5vw;font-size:2em;
  text-align: justify !important;overflow:hidden !important;
  font-weight: 600; padding-left:0.5em; padding-right:0.5em; padding-top:0.3em;
  opacity: 0.9; color: #FFFEEE; border-radius: 1vw; line-height: 1.4em;
  /* -moz-text-align-last: center; text-align-last: center; */
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important;
}
.modal1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block;
  overflow: hidden;
  outline: 0;
}
.raningteks {
  //background: linear-gradient(to top, #8f6B29, #FDE08D);
  background: black;
  z-index: 899; position: relative; height: 5.5vh; overflow: hidden;
  //color: white;
}
</style>